<div class="[background:#FFF] mx-auto">
  <div class="flex flex-col items-center justify-center w-[600px] h-[650px] shrink-0 [background:#FFF] shadow-[0px_0px_20px_0px_rgba(0,0,0,0.15)] rounded-[29px]">
    <!--h3 class="heading-3 m-6">Step 2 of 3</h3> -->
    <%= form_for(resource, as: resource_name, url: user_registration_path, html: { class: "pt-20 px-1 flex flex-col gap-y-5" }) do |f| %>
      <h2 class="heading-2 mb-2.5">Create your account</h2>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="w-full">
        <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "input-field" %>
      </div>

      <div class="w-full">
        <%= f.text_field :username, autocomplete: "username", placeholder: "Username", class: "input-field" %>
      </div>

      <div class="w-full">
        <%= f.password_field :password, autocomplete: "password", placeholder: "Password", class: "input-field" %>
      </div>

      <div class="w-full">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field", placeholder: "Password Confirmation" %>
      </div>


      <%= f.submit "Sign Up", class: "mt-10 btn btn-dark btn-lg" %>
    <% end %>
    <div> Already have an account? <%= link_to "Log in", new_session_path(resource_name), style: "color: #41A2E3;" %> </div>
  </div>
</div>
