<div class="flex flex-row items-center pt-10">
    <% if current_user.blank? %>
        <%= link_to new_user_session_path, data: {turbo_frame: "_top"} do %>
            <%= image_tag "unlike.png", class: "h-3.5 w-3.5" %>
        <% end %>
    <% else %>
        <% if current_user_liked_tweet?(tweet) %>
            <%= button_to like_path(current_user_like(tweet)), method: :delete do %>
                <%= image_tag "like.png", class: "h-3.5 w-3.5" %>
            <% end %>
        <% else %>
            <%= button_to tweet_likes_path(tweet) do %>
                <%= image_tag "unlike.png", class: "h-3.5 w-3.5" %>
            <% end %>                    
        <% end %>
    <% end %>
    <div class="text-[#5b7083] text-sm font-normal pl-1">
        <%= tweet.likes_count %>
    </div> 
</div>
