<%=turbo_frame_tag dom_id(tweet) do%>
    <div class="w-full h-auto border">
        <div class="w-full flex flex-row my-3 mx-4">
            <div class="pr-3 shrink-0">
                <%= link_to (image_tag profile_image(tweet.user), class: "w-12 h-12 border rounded-full"), user_path(tweet.user), data: {turbo_frame: "_top"} %>
            </div>
            <div class="w-[500px] flex flex-col">
                <div class="flex flex-row items-center">
                    <div class="font-semibold text-base pr-1">
                        <%= tweet.user.full_name %>
                    </div>
                    <div class="text-[#5b7083] text-sm font-normal">
                        @<%= tweet.user.username %>
                    </div>
                    <div class="text-[#5b7083] text-sm font-normal ml-auto">
                    · <%= posted_ago(tweet) %>
                    </div>
                </div>
                <div class="break-words">
                    <%= tweet.content %>
                </div>
                <% if tweet.images.attached? %>
                    <div class="w-full pt-2 items-center gap-x-4 flex flex-row">
                        <% tweet.images.each do |image| %>
                            <div class="">
                                <%= image_tag(image, class: "border rounded-[16px]")%>
                            </div>
                        <% end %>
                    </div>
                <% end %>
                <%= render "tweets/like", tweet: tweet %>
            </div>
        </div>
    </div>
<%end%>
