<div class="[background:#FFF] mx-auto">
  <div class="flex flex-col items-center justify-center w-[600px] h-[650px] shrink-0 [background:#FFF] shadow-[0px_0px_20px_0px_rgba(0,0,0,0.15)] rounded-[29px]">
    <%= image_tag "twitter.png"%>
    <h2 class="heading-2 mb-2.5">Enter new password</h2>
    <div class="mb-6" style="color: gray;">Enter a new password for your account.</div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "pt-20 px-1 flex flex-col gap-y-5",  method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "New Password", class: "w-full input-field" %>
        <% if @minimum_password_length %>
          <div class="px-1" style="color: gray;font-size: 13px;">Passwords must contain at least <%= @minimum_password_length %> characters minimum.</div>
        <% end %>
      </div>
      

      <div class="w-full">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repeat Password", class: "input-field"  %>
      </div>

      <%= f.submit "Change my password", class: "btn btn-dark btn-lg mt-20" %>
    <% end %>
  </div>
  <%#= render "devise/shared/links" %>
</div>
