<div class="[background:#FFF] mx-auto">
    <div class="flex flex-col items-center justify-center w-[600px] h-[650px] shrink-0 [background:#FFF] shadow-[0px_0px_20px_0px_rgba(0,0,0,0.15)] rounded-[29px]">
      <%= image_tag "twitter.png"%>
      <h2 class="heading-2 mb-2.5">Find your twitter account</h2>
      <div class="mb-6" style="color: gray;">Enter the email associated with your account to change your password.</div>
      <%= form_for(resource, as: resource_name, url: user_password_path, html: { class: "pt-20 px-1 flex flex-col gap-y-5", method: :post }) do |f| %>

        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="w-full">
          <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "input-field", autofocus: true %>
        </div>

        <%= f.submit "Next", class: "btn btn-dark btn-lg mt-20" %>
      <% end %>
    </div>
</div>
